/* Los estilos de tu proyecto */
* body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*header*/
.hero {
    background-image: url('../assets/images/taxi.jpg');        
    background-repeat: no-repeat;        
    position: relative;        
    width: 100%;                  
    margin-left: auto;      
    margin-right: auto;
    background-size:100%;
}
.row-jumbotron {
    transform: translateY(50vh);
}

@media (max-width: 768px){
.navbar-logo {
    width: 15vh;
    transform: translateX(50px);
}
.row-jumbotron {
    margin-top: -150px;
}
.hero {
    height: 80vh; 
}
}
@media (min-width: 992px) {
.navbar-logo {
    padding-top: 10px;
    width: 25vh;
}
.row-jumbotron {
    margin-top: 350px;
}
.hero {
    height: 400vh; 
}
}
