/* Los estilos de tu proyecto */
* body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
div.row{
    margin-right: 0px;
 }
 
 div.container-fluid{
    padding-right: 0px;
 }
/*header*/
.hero {
    background-image: url('../assets/images/taxi.jpg');        
    background-repeat: no-repeat;        
    position: relative;        
    width: 100%;                  
    margin-left: auto;      
    margin-right: auto;
    background-size:100%;
}
.row-jumbotron {
    transform: translateY(50vh);
}
/*section mobile*/
.sectionMobile {
    display: flex;
    background-color: rgb(255, 176, 40); 
}
/*section Driver*/
.sectionDriver {
    background-image: url('../assets/images/conduce.jpg');        
    background-repeat: no-repeat;        
    position: relative;        
    width: 100%;           
    margin-left: auto;      
    margin-right: auto;
    background-size:100%;
}
/*section Rates*/
.sectionRates {
    display: flex;
    background-color: rgb(255, 176, 40);
    height: 50vh; 
}
.input-group-addon {
    background-color: rgb(255, 176, 40);
}
.form-control {
    background-color: rgb(255, 176, 40);
    border-radius: 5px;
    display: inline;
}
.form-control::placeholder { 
    color:white;
}
.inputRates {
    display: inline;
}
/*section Map*/
.sectionMap {
    background-color: rgb(255, 176, 40);
    padding: 3vh;
}
.container-map {
    padding: 2vh;
    border: 1px solid white;
}
.mapImage {
    width: 100%;
    height: auto;
}
/*footer*/
.footer{
    width: 100%;
    background-color:#2b2b2b;
    display: flex;
    align-items: center;
    color: #fff;
    padding-top: 20px;
    height: 60vh;
}
.footer hr{
    margin:0;
    margin-top: 10px;
}
footer address {
    padding-top: 10px;
    padding-bottom: 25px;
}
.icons-mobile {
    display: inline;
    padding: 0;
}
icons {
    display: inline;
}
li a {
    width: 10px;
}
li{
    list-style: none;
    width: 10px;
}
.imagesFooter {
    width: 25vh;
}

@media (max-width: 768px){
.navbar-logo {
    width: 15vh;
    transform: translateX(50px);
}
.row-jumbotron {
    margin-top: -150px;
}
.hero {
    height: 80vh; 
}
/*section Mobile*/
.mobile {
    width: 60%;
}
.mobileImage {
    border: 1px solid white;
    width: 90%;
    margin-left: 15px;
    margin-bottom: 20px;
}
.row-mobile{
    margin-top: 20px;
}
/*section Driver*/
.sectionDriver {
    height: 36vh;
    text-align: center;
}
.row-jumbotron .jumbotron-driver {
    margin-top: -165px;
}
/*section Rates*/
.form-control {
    width: 300px;
}
/*footer*/
.footerImage{
    width: 15vh;
    margin: 1vh;
  }
}
@media (min-width: 992px) {
.navbar-logo {
    padding-top: 10px;
    width: 25vh;
}
.row-jumbotron {
    margin-top: 350px;
}
.hero {
    height: 400vh; 
}
.sectionDriver {
    height: 400vh;
}
}
